body{
    background: linear-gradient(rgb(117, 218, 101), rgb(160, 220, 237));
}
h1{
    color:rgb(130, 86, 197);
    background-color: rgb(55, 103, 119);
}
#show_sketch{
    float:right;
}
canvas{
    border: 5px solid rgb(191, 89, 195);
    border-radius: 20px;
    animation-name: example;
    animation-duration: 1s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
 @keyframes example{
    from{box-shadow: 1px 1px 38px rgb(214, 203, 203);}
    to{box-shadow: 1px 1px 38px rgb(32, 56, 77);}
}